body {
  font-family: cursive;
  background-color: mintcream;
  background: linear-gradient(to right, lightblue, mistyrose);
  padding-top: 7px
}

.nav-link{
    color: inherit;
    text-decoration: none;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
}

h3, h5{
    margin:0 auto;
    text-align:left;
    margin-left: 0px;
}

.box {
    display: flex;
    border: 1px solid #000;
    margin: auto;
    padding: 20px;
    text-align: center;
    border-radius: 25px;
    margin-top: 10px;
}

.box-header{
    display: flex;
    justify-content: center;
    align-items: center;
}

.col-fluid{
    border: 1px solid #000;
    margin: auto;
    padding: 10px;
    text-align: center;
    border-radius: 25px;
    padding-bottom: 0px;
    
}

.col{
    background-color: gainsboro;
    border: 1px solid #000;
    margin: auto;
    padding: 10px;
    text-align: center;
    border-radius: 25px;
    margin-left: 15px;
    margin-right: 15px;
    padding-bottom: 0px;
}


.btn{
    margin-left: 15px;
    margin-right: 15px;
    background: cadetblue;
}

.overflow-auto {
  height: 32vh;
  overflow-y: auto;
}

hr{
    margin-top: auto;
    margin-bottom: 20px;
}

.row-fluid {
    display:flex;
}

.row{
    margin-bottom: 20px;
}

@media only screen and (max-width: 600px) {
  .row-fluid {
    flex-direction: column;
  }
}

h3{
  background: -webkit-linear-gradient(315deg,#dc627c 25%,#647eff);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}