body {
  font-family: cursive;
  background-color: mintcream;
  background: linear-gradient(to right, lightblue, mistyrose);
  padding-top: 7px
}

h3{
    margin:0 auto;
    text-align:left;
    margin-left: 0px;
}

.nav-link{
    color: inherit;
    text-decoration: none;
}

.form-control {
    padding-top: 6px;
    margin-top: 6px;
    height: 31px;
    background-color: aliceblue;
}

.box-sm {
    color: deeppink;
    background-image: linear-gradient(to right, mistyrose, lightblue);
    background-color: black;
    border: 1px solid aquamarine;
    padding: 10px;
    text-align: center;
    border-radius: 25px;
    margin-top: 20px;
    margin-left: 8px;
    margin-right: 8px;
}

audio {
  width: 255px;
}

.btn{
    background: cadetblue;
}

.col{
    display: flex;
    align-content: center;
    white-space: nowrap;
    overflow-x: auto;
    padding-bottom: 23px;
}

hr{
    margin-top: auto;
    margin-bottom: 20px;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.header{
  display: flex;
  justify-content: center;
  align-items: center;
}

.blox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

h2 {
    text-align: center;
    
}

.msg {
    border-width: 5px;
    background-color: crimson;
    margin-top: 15px;
    margin-bottom: 0px;
    text-align: center;
}

h3{
  background: -webkit-linear-gradient(315deg,#dc627c 25%,#647eff);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}